body{background-color: rgb(101, 222, 255);}
h1{font-family: fantasy; font-size: 45px;color: rgb(118, 6, 245);}
p{font-family: fantasy; font-size: 20px; color: rgb(11, 145, 23);}
img{border-width: 5px; border-style: ridge; border-color: goldenrod;}
a:hover{color: blueviolet;}
li{list-style: none;padding: 5px;border-style: ridge; border-color: goldenrod; width: 15%; text-align: center; color: white;}